.plans{
    width: 100vw;
    display: grid;
    grid-auto-flow: row;
    gap: 25px;
    margin: auto;
}

.plan{
    /* display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 60%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    position: relative;
    /* justify-content: space-between; */
    background: rgb(18,4,23);
background: linear-gradient(266deg, rgb(66, 15, 85) 0%, rgb(34, 8, 77) 100%);
}

.plan .card{
    width: 95%;
    height: 95%;
    margin: auto;
    background-color: #fff;
    display: grid;
    grid-template-rows: 60% 1fr;
    clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    
}

.plan .card-border{
    width: 30%;
    height: 70%;
    margin: auto;
    clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
    background-color: gold;
    animation: borderCard 5s linear infinite;
    position: relative;
    overflow: hidden;
}

@keyframes borderCard {
    0% {
        transform: translate(0 , 5px);
        background-color: #eeff00;;
      }
      50% {
        transform: translate(0px, -10px);
        background-color: rgb(255, 210, 9);
      }
      100% {
        transform: translate(0px, 5px);
        background-color: #eeff00;
      }
}

.card .card-image{
    width: 70%;
    height: 70%;
    overflow: hidden;
    margin: auto;
}

.card .card-image img{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-self: center;
    justify-self: center;
}

.card .plan-components .plan-list-components{
    list-style-type: none;
}

.card .plan-components{
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 1.2em;
    border-top: 2px solid black;
    padding-top: 10px;
}

.plan .info{
    padding: 10px;
    display: grid;
    grid-auto-flow: row;
    color: #fff;
    gap: 2em;
    width: 600px;
    margin: auto;
    padding:20px;
    background: linear-gradient(135deg, rgba(255,255,255, 0.15), rgba(255,255,255,0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.47);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    overflow: hidden;
}

.plan .info .plan-name{
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 1px;
    font-family: sans-serif;
    /* background: url('../../assets/878719.png'); */
    background-image: linear-gradient(red, orange);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textA 5s linear infinite;
}

@keyframes textA{
    /* from {background-position: 0% 50%;}
    to {background-position: 100% 100%;} */
    100% {
        filter: hue-rotate(360deg);
      }
}

.plan .info .plan-description{
    font-size: 1.3em;
    line-height: 1.3em;
}

.info .buttons{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.info .plan-price{
    color: rgb(155, 155, 212);
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

.info .buttons button{
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    padding: 5px;
    /* border-bottom: 1px solid blueviolet;
    border-top: 1px solid blueviolet; */
    transition: all .3s ease-out;
    background: linear-gradient(135deg, rgba(255,255,255, 0.4), rgba(255,255,255,0.3));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.17);
    border: 1px solid rgba(255,255,255, 0.18);
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
}

.info .buttons button:hover{
    font-size: 1.5em;
    letter-spacing: 1px;
    transition: all .3s ease-out;
}

@media(max-width:500px){
    .plan .card-border{
        width: 70%;
        height: 35%
    }

    .plan .card-border .card{
        grid-template-rows: 50% 1fr;
        gap: 10px;
    }

    .plan .card-border .card .info .plan-name{
        font-size: 2em;
    }

    .plan .info{
        height: 50%;
        width: 90%;
    }

    .plan .info .plan-description{
        font-size: 1em;
        line-height: normal;
    }
}