.plans{
    width: 100vw;
    display: grid;
    grid-auto-flow: row;
    gap: 25px;
    margin: auto;
}

.plan{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 60%;
    height: 100vh;
    align-items: center;
    position: relative;
    /* justify-content: space-between; */
}

.plan .card{
    width: 95%;
    height: 95%;
    margin: auto;
    background-color: rgb(252, 252, 252);
    display: grid;
    grid-template-rows: 60% 1fr;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.plan .card-border{
    width: 52%;
    height: 82%;
    margin: auto;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    box-shadow: 0px 0px 4px black;
    background-color: gold;
    animation: borderCard 5s linear infinite;
    position: relative;
    filter: drop-shadow(0px 0px 4px red);
}

@keyframes borderCard {
    0% {
        transform: translate(0 , 5px);
      }
      50% {
        transform: translate(0px, -10px);
      }
      100% {
        transform: translate(0px, 5px);
      }
}

.card .card-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card .card-image img{
    width: 100%;
    height: 100%;
    margin: auto;
}

.card .plan-components{
    background-color: #fff;
}

.plan .info{
    display: grid;
    grid-auto-flow: row;
    gap: 2em;
    width: 80%;
    margin: auto;
}

.plan .info .plan-name{
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 1px;
    font-family: sans-serif;
    /* background: url('../../assets/878719.png'); */
    background-image: linear-gradient(blue, blueviolet, violet);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textA 5s linear infinite;
}

@keyframes textA{
    /* from {background-position: 0% 50%;}
    to {background-position: 100% 100%;} */
    100% {
        filter: hue-rotate(360deg);
      }
}

.plan .info .plan-description{
    font-size: 1.3em;
}

.info .buttons{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.info .plan-price{
    color: blueviolet;
    font-size: 1.5em;
}

.info .buttons button{
    font-size: 1.5em;
    border: none;
    color: blueviolet;
    background-color: white;
    cursor: pointer;
}