.plans{
    width: 100vw;
    display: grid;
    grid-auto-flow: row;
    gap: 25px;
    margin: auto;
}

.plan{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 60%;
    height: 100vh;
    align-items: center;
    position: relative;
    /* justify-content: space-between; */
}

.plan .card{
    
    border-radius: 50%;
    width: 50%;
    height: 80%;
    margin: auto;
    overflow: hidden;
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 60% 1fr;
}

.card .card-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card .card-image img{
    width: 100%;
    height: 100%;
    margin: auto;
}

.card .plan-components{
    background-color: #fff;
}

.plan .info{
    display: grid;
    grid-auto-flow: row;
    gap: 2em;
    width: 80%;
    margin: auto;
}

.plan .info .plan-name{
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 1px;
    font-family: sans-serif;
    background: url('../../assets/878719.png');
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textA 1.5s linear infinite;
}

@keyframes textA{
    from {background-position: 0% 50%;}
    to {background-position: 100% 100%;}
}

.plan .info .plan-description{
    font-size: 1.3em;
}

.info .buttons{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.info .plan-price{
    color: blueviolet;
    font-size: 1.5em;
}

.info .buttons button{
    font-size: 1.5em;
    border: none;
    color: blueviolet;
    background-color: white;
    cursor: pointer;
}